<footer class="cont cont-xxl">
    <div class="footer-top">
        <div class="cont cont-s">
            <div class="socials">
                <a href="https://www.facebook.com/ChivasRegal.cz/" target="_blank">
                    <img src="{$basePath}/images/CHIVAS-TheBlend-FBicon.png" alt="">
                </a>
                <a href="https://www.instagram.com/chivasregalcz/" target="_blank">
                    <img src="{$basePath}/images/CHIVAS-TheBlend-IGicon.png" alt="">
                </a>
                <a href="https://www.chivas.com/cs-cz/" target="_blank">
                    <img src="{$basePath}/images/CHIVAS-TheBlend-WWWicon.png" alt="">
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="mailto:info@theblend.cz">info@theblend.cz</a>
                    </li>
                    <li>
                        <a n:href="Homepage:" class="smooth-scroll">The Blend</a>
                    </li>
{*                    <li>*}
{*                        <a href="#the-blend" class="smooth-scroll">The Blend</a>*}
{*                    </li>*}
{*                    <li>*}
{*                        <a href="#program" class="smooth-scroll">Program</a>*}
{*                    </li>*}
                    {*                    <li>*}
{*                        <a href="#win-the-right-way" class="smooth-scroll">Win The Right Way</a>*}
{*                    </li>*}
{*                    <li>*}
{*                        <a href="#reference" class="smooth-scroll">Reference</a>*}
{*                    </li>*}
{*                    <li>*}
{*                        <a href="#kaligrafie" class="smooth-scroll">Kaligrafie - ručně psaný vzkaz</a>*}
{*                    </li>*}
                    <li>
                        <a href="{plink b2b}">The Blend na klíč</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="cont cont-s">
            <a href="http://pijsrozumem.cz/" target="_blank">
                Vychutnávejte si CHIVAS odpovědně - Pijte &nbsp;rozumem
            </a>
        </div>
    </div>
</footer>